.footer1 {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(87, 70, 181);
  color: aliceblue;
  text-align: center; /* Center text horizontally */
  padding: 10px; /* Adjust padding as needed */
}
